<html>
<link rel="stylesheet" href="{{url_for('static', filename='codemirror.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='monokai.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='fullscreen.css')}}">
<script src="{{url_for('static', filename='codemirror.js')}}"></script>
<script src="{{url_for('static', filename='fullscreen.js')}}"></script>
<script src="{{url_for('static', filename='langs/css.js')}}"></script>
<script src="{{url_for('static', filename='langs/go.js')}}"></script>
<script src="{{url_for('static', filename='langs/javascript.js')}}"></script>
<script src="{{url_for('static', filename='langs/python.js')}}"></script>
<textarea id="myTextarea">
Hello world!
</textarea>
<script>
var editor = CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true,
      theme: 'monokai',
      indentUnit: 4,
      autofocus: true,
      fullScreen: true,
});
</script>
</html>
