<html>
    <title>pbnh</title>
    <link rel="stylesheet" href="/static/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/fullscreen.css">
    <link rel="stylesheet" href="/static/codemirror/monokai.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <script src="/static/codemirror/codemirror.js"></script>
    <script src="/static/codemirror/fullscreen.js"></script>
    <script src="/static/codemirror/meta.js"></script>
    <script src="/static/codemirror/loadmode.js"></script>

    <div title="Ctrl-N" id="newicon" style="
       color: #fff;
       cursor: pointer;
       padding-top: 10;
       position: absolute;
       right: 90;
       z-index: 100;
       "><i class="fa fa-file-o fa-lg"></i></div>
    <div id="redirecticon" style="
       color: #fff;
       cursor: pointer;
       padding-top: 10;
       position: absolute;
       right: 58;
       z-index: 100;
       "><i class="fa fa-external-link fa-lg"></i></div>
    <div title="Ctrl-S" id="saveicon" style="
       color: #fff;
       cursor: pointer;
       padding-top: 10;
       position: absolute;
       right: 30;
       z-index: 100;
       "><i class="fa fa-save fa-lg"></i></div>
    <div id="helpicon" style="
       color: #fff;
       cursor: pointer;
       padding-top: 10;
       position: absolute;
       right: 10;
       z-index: 100;
    "><i class="fa fa-question fa-lg"></i></div>

<div id="lightbox" style="
    visibility: hidden;
    position: absolute;
    z-index: 100;
    ">
    <form action="/" method="post">
    <input type="text" name='redirect'><br>
    <input type="submit" value="Submit a url to redirect to. Must include http://">
</div>

    <textarea id="paste" name="content">{{paste}}</textarea>

    <script>
        CodeMirror.modeURL = "/static/codemirror/langs/%N.js";
        var editor = CodeMirror.fromTextArea(paste, {
            lineNumbers: true,
            theme: 'monokai',
            indentUnit: 4,
            fullScreen: true,
            autofocus: true,
            mode: '{{mime}}',
            extraKeys: {"Ctrl-S": function() { saveicon.click(); },
                        "Ctrl-N": function() { newicon.click(); },
                       }
        });
        newicon.addEventListener("click", function(){
                window.location.href = '/';
        });
        helpicon.addEventListener("click", function(){
                window.location.href = '/about.md';
        });
        var info = CodeMirror.findModeByMIME('{{mime}}');
        if (!info) {
            info = CodeMirror.findModeByExtension('{{mime}}');
        }
        if (info) {
            editor.setOption('mode', info.mime);
            CodeMirror.autoLoadMode(editor, info.mode);
            console.log(info.name);
        } else {
            console.warn('could not find the right highlighter');
        }
    redirecticon.addEventListener('click', function () {
        var lightbox = document.getElementById("lightbox");
        lightbox.style.visibility = 'visible';
        lightbox.style.top = window.innerHeight/2 - 50 + 'px';
        lightbox.style.left = window.innerWidth/2 - 100 + 'px';
    });
    </script>
    <body bgcolor="#292923">
    {% block body %}{% endblock %}
    </body>

</html>
