<html>
    <title>pbnh</title>
    <link rel="stylesheet" href="/static/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/fullscreen.css">
    <link rel="stylesheet" href="/static/codemirror/monokai.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <script src="/static/codemirror/codemirror.js"></script>
    <script src="/static/codemirror/fullscreen.js"></script>
    <script src="/static/codemirror/meta.js"></script>
    <script src="/static/codemirror/loadmode.js"></script>

    <div title="Ctrl-N" id="newicon" style="
       z-index: 100;
       position: absolute;
       right: 60;
       color: #fff;
       padding: 10;
    "><span style="
       cursor: pointer;
       "><i class="fa fa-file-o fa-lg"></i>
    </span></div>
    <div title="Ctrl-S" id="saveicon" style="
       z-index: 100;
       position: absolute;
       right: 30;
       color: #fff;
       padding: 10;
    "><span style="
       cursor: pointer;
       "><i class="fa fa-save fa-lg"></i>
    </span></div>
    <div id="helpicon" style="
       z-index: 100;
       position: absolute;
       right: 10;
       color: #fff;
       padding: 10;
    "><span style="
       cursor: pointer;
       "><i class="fa fa-question fa-lg" aria-hidden="true"></i>
    </span></div>

    <textarea id="paste" name="content">{{paste}}</textarea>

    <script>
        CodeMirror.modeURL = "/static/codemirror/langs/%N.js";
        var editor = CodeMirror.fromTextArea(paste, {
            lineNumbers: true,
            theme: 'monokai',
            indentUnit: 4,
            fullScreen: true,
            autofocus: true,
            mode: '{{mime}}',
            extraKeys: {"Ctrl-S": function() { saveicon.click(); },
                        "Ctrl-N": function() { newicon.click(); },
                       }
        });
        newicon.addEventListener("click", function(){
                window.location.href = '/';
        });
        helpicon.addEventListener("click", function(){
                window.location.href = '/about.md';
        });
        var info = CodeMirror.findModeByMIME('{{mime}}');
        if (!info) {
            info = CodeMirror.findModeByExtension('{{mime}}');
        }
        if (info) {
            editor.setOption('mode', info.mime);
            CodeMirror.autoLoadMode(editor, info.mode);
            console.log(info.name);
        } else {
            console.warn('could not find the right highlighter');
        }
    </script>

    {% block body %}{% endblock %}

</html>
