{% extends "layout.html" %}
{% block langs %}
<script src='{{url_for('static', filename='langs/apl.js')}}'></script>
<script src='{{url_for('static', filename='langs/asciiarmor.js')}}'></script>
<script src='{{url_for('static', filename='langs/asn.1.js')}}'></script>
<script src='{{url_for('static', filename='langs/asterisk.js')}}'></script>
<script src='{{url_for('static', filename='langs/brainfuck.js')}}'></script>
<script src='{{url_for('static', filename='langs/clike.js')}}'></script>
<script src='{{url_for('static', filename='langs/clojure.js')}}'></script>
<script src='{{url_for('static', filename='langs/cmake.js')}}'></script>
<script src='{{url_for('static', filename='langs/cobol.js')}}'></script>
<script src='{{url_for('static', filename='langs/coffeescript.js')}}'></script>
<script src='{{url_for('static', filename='langs/commonlisp.js')}}'></script>
<script src='{{url_for('static', filename='langs/crystal.js')}}'></script>
<script src='{{url_for('static', filename='langs/css.js')}}'></script>
<script src='{{url_for('static', filename='langs/cypher.js')}}'></script>
<script src='{{url_for('static', filename='langs/dart.js')}}'></script>
<script src='{{url_for('static', filename='langs/diff.js')}}'></script>
<script src='{{url_for('static', filename='langs/django.js')}}'></script>
<script src='{{url_for('static', filename='langs/d.js')}}'></script>
<script src='{{url_for('static', filename='langs/dtd.js')}}'></script>
<script src='{{url_for('static', filename='langs/dylan.js')}}'></script>
<script src='{{url_for('static', filename='langs/ebnf.js')}}'></script>
<script src='{{url_for('static', filename='langs/ecl.js')}}'></script>
<script src='{{url_for('static', filename='langs/eiffel.js')}}'></script>
<script src='{{url_for('static', filename='langs/elm.js')}}'></script>
<script src='{{url_for('static', filename='langs/erlang.js')}}'></script>
<script src='{{url_for('static', filename='langs/fcl.js')}}'></script>
<script src='{{url_for('static', filename='langs/forth.js')}}'></script>
<script src='{{url_for('static', filename='langs/fortran.js')}}'></script>
<script src='{{url_for('static', filename='langs/gas.js')}}'></script>
<script src='{{url_for('static', filename='langs/gfm.js')}}'></script>
<script src='{{url_for('static', filename='langs/gherkin.js')}}'></script>
<script src='{{url_for('static', filename='langs/go.js')}}'></script>
<script src='{{url_for('static', filename='langs/groovy.js')}}'></script>
<script src='{{url_for('static', filename='langs/haml.js')}}'></script>
<script src='{{url_for('static', filename='langs/haskell.js')}}'></script>
<script src='{{url_for('static', filename='langs/haskell-literate.js')}}'></script>
<script src='{{url_for('static', filename='langs/haxe.js')}}'></script>
<script src='{{url_for('static', filename='langs/htmlembedded.js')}}'></script>
<script src='{{url_for('static', filename='langs/htmlmixed.js')}}'></script>
<script src='{{url_for('static', filename='langs/http.js')}}'></script>
<script src='{{url_for('static', filename='langs/idl.js')}}'></script>
<script src='{{url_for('static', filename='langs/jade.js')}}'></script>
<script src='{{url_for('static', filename='langs/javascript.js')}}'></script>
<script src='{{url_for('static', filename='langs/jinja2.js')}}'></script>
<script src='{{url_for('static', filename='langs/jsx.js')}}'></script>
<script src='{{url_for('static', filename='langs/julia.js')}}'></script>
<script src='{{url_for('static', filename='langs/livescript.js')}}'></script>
<script src='{{url_for('static', filename='langs/lua.js')}}'></script>
<script src='{{url_for('static', filename='langs/markdown.js')}}'></script>
<script src='{{url_for('static', filename='langs/mathematica.js')}}'></script>
<script src='{{url_for('static', filename='langs/mbox.js')}}'></script>
<script src='{{url_for('static', filename='langs/meta.js')}}'></script>
<script src='{{url_for('static', filename='langs/mirc.js')}}'></script>
<script src='{{url_for('static', filename='langs/mllike.js')}}'></script>
<script src='{{url_for('static', filename='langs/modelica.js')}}'></script>
<script src='{{url_for('static', filename='langs/mscgen.js')}}'></script>
<script src='{{url_for('static', filename='langs/mumps.js')}}'></script>
<script src='{{url_for('static', filename='langs/nginx.js')}}'></script>
<script src='{{url_for('static', filename='langs/ntriples.js')}}'></script>
<script src='{{url_for('static', filename='langs/octave.js')}}'></script>
<script src='{{url_for('static', filename='langs/oz.js')}}'></script>
<script src='{{url_for('static', filename='langs/pascal.js')}}'></script>
<script src='{{url_for('static', filename='langs/pegjs.js')}}'></script>
<script src='{{url_for('static', filename='langs/perl.js')}}'></script>
<script src='{{url_for('static', filename='langs/php.js')}}'></script>
<script src='{{url_for('static', filename='langs/pig.js')}}'></script>
<script src='{{url_for('static', filename='langs/powershell.js')}}'></script>
<script src='{{url_for('static', filename='langs/properties.js')}}'></script>
<script src='{{url_for('static', filename='langs/protobuf.js')}}'></script>
<script src='{{url_for('static', filename='langs/puppet.js')}}'></script>
<script src='{{url_for('static', filename='langs/python.js')}}'></script>
<script src='{{url_for('static', filename='langs/q.js')}}'></script>
<script src='{{url_for('static', filename='langs/r.js')}}'></script>
<script src='{{url_for('static', filename='langs/rpm.js')}}'></script>
<script src='{{url_for('static', filename='langs/rst.js')}}'></script>
<script src='{{url_for('static', filename='langs/ruby.js')}}'></script>
<script src='{{url_for('static', filename='langs/sas.js')}}'></script>
<script src='{{url_for('static', filename='langs/sass.js')}}'></script>
<script src='{{url_for('static', filename='langs/scheme.js')}}'></script>
<script src='{{url_for('static', filename='langs/shell.js')}}'></script>
<script src='{{url_for('static', filename='langs/sieve.js')}}'></script>
<script src='{{url_for('static', filename='langs/slim.js')}}'></script>
<script src='{{url_for('static', filename='langs/smalltalk.js')}}'></script>
<script src='{{url_for('static', filename='langs/smarty.js')}}'></script>
<script src='{{url_for('static', filename='langs/solr.js')}}'></script>
<script src='{{url_for('static', filename='langs/soy.js')}}'></script>
<script src='{{url_for('static', filename='langs/sparql.js')}}'></script>
<script src='{{url_for('static', filename='langs/spreadsheet.js')}}'></script>
<script src='{{url_for('static', filename='langs/sql.js')}}'></script>
<script src='{{url_for('static', filename='langs/stex.js')}}'></script>
<script src='{{url_for('static', filename='langs/stylus.js')}}'></script>
<script src='{{url_for('static', filename='langs/swift.js')}}'></script>
<script src='{{url_for('static', filename='langs/tcl.js')}}'></script>
<script src='{{url_for('static', filename='langs/textile.js')}}'></script>
<script src='{{url_for('static', filename='langs/tiddlywiki.js')}}'></script>
<script src='{{url_for('static', filename='langs/tiki.js')}}'></script>
<script src='{{url_for('static', filename='langs/toml.js')}}'></script>
<script src='{{url_for('static', filename='langs/tornado.js')}}'></script>
<script src='{{url_for('static', filename='langs/troff.js')}}'></script>
<script src='{{url_for('static', filename='langs/ttcn-cfg.js')}}'></script>
<script src='{{url_for('static', filename='langs/ttcn.js')}}'></script>
<script src='{{url_for('static', filename='langs/turtle.js')}}'></script>
<script src='{{url_for('static', filename='langs/twig.js')}}'></script>
<script src='{{url_for('static', filename='langs/vb.js')}}'></script>
<script src='{{url_for('static', filename='langs/vbscript.js')}}'></script>
<script src='{{url_for('static', filename='langs/velocity.js')}}'></script>
<script src='{{url_for('static', filename='langs/verilog.js')}}'></script>
<script src='{{url_for('static', filename='langs/vhdl.js')}}'></script>
<script src='{{url_for('static', filename='langs/vue.js')}}'></script>
<script src='{{url_for('static', filename='langs/webidl.js')}}'></script>
<script src='{{url_for('static', filename='langs/xml.js')}}'></script>
<script src='{{url_for('static', filename='langs/xquery.js')}}'></script>
<script src='{{url_for('static', filename='langs/yacas.js')}}'></script>
<script src='{{url_for('static', filename='langs/yaml-frontmatter.js')}}'></script>
<script src='{{url_for('static', filename='langs/yaml.js')}}'></script>
<script src='{{url_for('static', filename='langs/z80.js')}}'></script>
{% endblock %}
{% block body %}
<script>
editor.setOption('readOnly', true);
</script>
{% endblock %}
